wsfr_download@git+https://github.com/drivendataorg/water-supply-forecast-rodeo-runtime.git#egg=pkg&subdirectory=data_download

dataretrieval==1.0.6
fiona==1.9.5
geopandas==0.14.0
lightgbm==3.1.1
loguru==0.7.2
matplotlib==3.7.3
numpy==1.22.3
pandas==1.4.3
rtree==1.2.0
scikit_learn==1.1.1
seaborn==0.13.0
Shapely==1.8.2
zeep==4.2.1
pyarrow==15.0.1
jupyter
ipython
plotly
